# Basic VS22 files
*.vsidx
obj/*
build/*
.vs/*

# Ignore packages, they should be downloaded by the user automatically
packages/*

# Built files for the projects
HTF/obj/*
Engine/obj/*
Tests/obj/*
Game/obj/*