# Basic VS22 files
*.vsidx
obj/*
build/*
.vs/*

# Rider files
.idea/*
*.user

# Ignore Renderer includes
Renderer/include/*
Renderer/lib/*

# Built files for the projects
WTFEdit/obj/*
Engine/obj/*
Tests/obj/*
Game/obj/*